.container{
  width: 100%;
  height: 80px;
  padding : 0 $spacing-large;
}

.button{
  background: $base-100;
  padding: 8px 12px;
  color: $base-0;
  p{
    @include subtext
  }
  border-radius: $radius-small;
}